<h1>Team Tracker</h1>
<form action="/teams">
  <div class="form-group">
    <label for ="team">Your </label>
    <input id="team" name="team" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Send</button>
</form>
